*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: Poppins-Medium;
    src: url(./Poppins/Poppins-Medium.ttf);
    }

header {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #383838;
    backdrop-filter: blur(49px);
    position: fixed;
    top: 0;
    width: 100%;
}
div h2{
    color: #fc5c1c;
    font-size: 36px;
    margin: 30px 45px;
    font-family: 'Dancing Script', cursive;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 35px;
}
nav ul li a{
    text-decoration: none;
    color:  #fc5c1c;
    font-size: 16px;
    font-family: Poppins-Medium;
}
.toogle-btn{
    display: none !important;
    cursor: pointer;
}
#hero{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    gap: 7px;
}
#hero p{
   font-size: 18px;
   font-family: Poppins-Medium; 
   font-size: 18px;
}
#hero span{
    color: #fc5c1c;
}
#hero h3{
    font-size: 48px;
    font-family: poppins-medium;
    font-weight: 400;
}
#hero h4{
    font-size: 36px;
    font-family: Poppins-medium;
    font-weight: 400;
}
.short{
    font-family: poppins-medium;
    font-size: 15px;
    line-height: 28px;
}
.socials{
    display: flex;
    justify-content: center;
}
div img{
    margin: 10px;
}
#skills{
   justify-content: center;
   text-align: center;
   height: 120vh;
   padding-top: 110px;
   margin-top: -110px;
}
h5{
    font-family: poppins-medium;
    color: #fc5c1c;
    margin-left: 35px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}
div p{
    font-family: poppins-medium;
    font-size: 20px;
}
.skill-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 30px;
    margin-right: 80px;
}
.skill-container img{
      width: 100%;
      height: 300px;
      border-radius: 20px;
      margin-bottom: 10px;
      object-fit: cover;
}
#projects{
    padding-top: 140px;
    height: 170vh;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:  30px;
    margin-right: 80px;
    gap: 50px;
}
.project-container img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}
.footer{
    justify-content: center;
    text-align: center;
    height: 30vh;
    padding-top: 80px;
}
h6{
    font-family: poppins-medium;
    font-size: 40px;
    text-align: center;
}
@media (max-width: 600px) {
    
    nav ul li{
        display: none;
    }

    div h2{
        font-size: 26px;
        margin: 20px 35px;
    }
    .toogle-btn{
        display: inline-block;
        background-color: white;
    }
    #hero{
        height: 60vh;
    }
    #skills{
        height: 180vh;
        padding-top: 0px;
    }
    .skill-container{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .project-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .project-container img{
        object-fit: cover;
    }
    .footer{
        padding-top: 120px;
        height: 20vh;
    }
}

@media (max-width: 800px){
    nav ul li{
        display: none;
    }
    .toogle-btn{
        display: block !important;
    }
    #hero{
        height: 55vh;
    }

#skills{
    height: 180vh;
    padding-top: 0px;
}
.skill-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.footer{
    padding-top: 120px;
    height: 20vh;
}
}
